* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

ul {
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    width: fit-content;
}

.nav-list {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

.show-nav-list {
    display: flex;
}

.nav-list-item {
    width: 16%;
    position: relative;
    height: 40px;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
}

.nav-list-item:hover {
    box-shadow: 0px 0px 5px 2px rgb(255 255 255 / 60%);
    background-color: black;
}

.nav-list-item:hover .nav-list-link {
    color: white;
}

.nav-list-link {
    color: black;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu-button {
    padding: 10px 20px;
    background-color: white;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 10%);
}

.nav-menu-button:hover {
    box-shadow: 0px 0px 5px 2px rgb(255 255 255 / 60%);
    background-color: black;
    color: white;
}

.nav-menu-button-close {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    display: none;
}

.nav-menu-button-close span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
}

.nav-menu-button-close span:first-child {
    transform: rotate(45deg);
}

.nav-menu-button-close span:last-child {
    transform: rotate(-45deg);
}

section {
    min-height: 100vh;
    padding: 70px 0;
    display: flex;
    align-items: center;
}

.section-title {
    text-align: center;
    font-size: 70px;
    margin-bottom: 50px;
}

.section-subtitle {
    font-size: 30px;
}

.section-subtitle-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.lists {
    display: flex;
    width: 100%;
    justify-content: center;
}

.section-shablon-zakaza .lists {
    margin-bottom: 50px;
}

.shablon-zakaza-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list {
    width: 50%;
}

.list:first-child {
    margin-right: 100px;
}

.list-item {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px 40px;
    border-radius: 4pxlists;
    -webkit-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.3);
    box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.3);
}

.dostavka-list {
    display: flex;
    margin-bottom: 50px;
}

.dostavka-list-item {
    margin-right: 50px;
}

.example-title {
    font-size: 50px;
    text-align: center;
}

.example-subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}

.example-image {
    width: 50%;
    margin-bottom: 50px;
}

.example-description {
    text-align: center;
    margin-bottom: 30px;
}

.list-tovars {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.list-item_tovars {
    width: 30%;
    height: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 20px 0px;
    margin-bottom: 50px;
    border-radius: 4px;
}

.list-item_tovars-img {
    display: block;
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.list-item_tovars-only-image {
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    border-radius: 4px;
    padding: 0;
}

.list-item_tovars-img-only-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-dostavka {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.list-dostavka .list-item {
    width: 20%;
    margin: 25px 5px;
    flex-direction: column;
    height: 100px;
    justify-content: center;
}

.list-dostavka .list-item span:first-child {
    margin-bottom: 10px;
}

.section-subtitle-dostavka {
    margin-bottom: 20px;
}

.section-subtitle-description-dostavka {
    margin-bottom: 10px;
    display: flex;
}

.section-subtitle-description-dostavka span {
    width: 200px;
}

.buttons {
    margin-bottom: 50px;
}

.button-copy {
    padding: 20px 30px;
    background-color: black;
    color: white;
    border: 1px solid transparent;
    outline: none;
    font-size: 18px;
    margin-right: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s;
}

.button-copy:hover {
    background-color: white;
    color: black;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.size-list span:first-child {
    width: 650px;
}

.size-list .section-subtitle-description {
    margin-bottom: 10px;
}

.size-list-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.divan-title {
    margin-bottom: 50px;
    text-align: center;
}

.size-subtitle {
    /* -webkit-box-shadow: 0px 5px 10px -6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px -6px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px -6px rgba(34, 60, 80, 0.2); */
}

.list-tovars-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 1px solid transparent;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
}

.list-tovars-button:hover {
    background-color: white;
    color: black;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.divan-photos-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 1px solid transparent;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
    font-weight: 400;
    margin-left: 50px;
    display: inline-block;
}

.divan-photos-button:hover {
    background-color: white;
    color: black;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.divan-sostav-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

.divan-sostav-list-item {
    display: flex;
    margin-bottom: 20px;
}

.divan-sostav-list-item span {
    display: block;
    width: 200px;
    font-size: 20px;
}
